@import '../../mixins/mixin';
@import '../../variables/variable';

/*==============================================
             Blog Part Start
================================================*/
#blog {
    padding-bottom: 60px;

    .blog_head {
        position: relative;

        h3 {
            @include fs($cl1, 20px, 700, $ff1);
            text-transform: capitalize;
        }

        a {
            @include fs($cl1, 14px, 600, $ff1);
            text-transform: capitalize;
            transition: all linear .3s;

            &:hover {
                color: $hover;
            }
        }

        &::after {
            @include after_bl(-22px, 0, 100%, 1px, #ddd);
        }
    }

    .blog_slider {
        margin-top: 50px;

        .blog_img {
            overflow: hidden;

            a {
                transition: all linear .3s;

                &:hover {
                    transform: scale(1.2);
                }

                img {
                    transition: all linear .3s;
                }
            }
        }

        .blog_text {
            padding-top: 20px;

            p {
                @include fs(#999, 13px, 500, $ff1);

                a {
                    @include fs($cl1, 15px, 600, $ff1);
                    transition: all linear .3s;

                    &:hover {
                        color: $hover;
                    }
                }

                span {
                    @include fs($cl2, 14px, 500, $ff1);
                    transition: all linear .3s;
                    cursor: pointer;

                    &:hover {
                        color: $hover;
                    }
                }
            }

            h2 {
                margin-top: -10px;

                a {
                    @include fs($cl1, 15px, 600, $ff1);
                    transition: all linear .3s;

                    &:hover {
                        color: $hover;
                    }
                }
            }

            >a {
                margin-top: 10px;
                @include fs($cl1, 14PX, 500, $ff1);
                transition: all linear .3s;
                position: relative;

                &:hover {
                    &::after {
                        transform: scale(1);
                    }
                }

                &::after {
                    @include after_bl(0, 0, 100%, 3px, $cl1);
                    transform: scale(0);
                    transition: all linear .3s;
                }

                i {
                    padding-left: 7px;
                }
            }
        }
    }
}

/*==============================================
             Blog  Part End
================================================*/