@import '../../mixins/mixin';
@import '../../variables/variable';

/*==============================================
            Customer Support Part Start
================================================*/
#customer {
    padding: 60px 0;

    .cus_sup_slider {
        border: 1px solid #f1f1f1;
        padding: 25px 20px;
        border-radius: 4px;
        padding-left: 75px;

        ul {
            li {
                i {
                    font-size: 35px;
                    color: $hover;
                    padding-right: 15px;
                }

                h4 {
                    @include fs($cl1, 14px, 600, $ff1);
                }

                p {
                    @include fs($cl2, 13px, 400, $ff1);
                }
            }
        }
    }
}

/*==============================================
            Customer Support Part End
================================================*/