@import '../../mixins/mixin';
@import '../../variables/variable';

/*==============================================
             Daily Offer Part Start
================================================*/
#daily_offer {
    padding: 60px 0;

    .zoom_part {
        border: 1px solid #f1f1f1;
        padding: 20px;
        border-radius: 5px;
        transition: all linear .3s;

        &:hover {
            border-color: $hover;
        }

        .zoom_head_text {
            h4 {
                @include fs($cl1, 18px, 700, $ff1);
                text-transform: capitalize;
                padding-bottom: 30px;
                position: relative;

                &::after {
                    @include after_bl(15px, 0, 100%, 1px, #f1f1f1);
                }
            }
        }

        .zoom_left_slider {
            position: relative;

            .row {
                display: flex;
            }

            .prv_arr {
                position: absolute;
                font-size: 13px;
                top: -48px;
                right: 28px;
                cursor: pointer;
                color: $cl1;
                transition: all linear .3s;

                &:hover {
                    color: $hover;
                }
            }

            .nxt_arr {
                position: absolute;
                font-size: 13px;
                top: -48px;
                right: 10px;
                cursor: pointer;
                color: $cl1;
                transition: all linear .3s;

                &:hover {
                    color: $hover;
                }
            }

            .carousel-indicators.small_img [data-bs-target] {
                width: 100%;
                height: 72px;
                margin-right: 0;
                margin-left: 0;
                border: 0;
                border: 0;
                opacity: 1;
                margin-top: -5px;
                margin-bottom: 25px;
            }

            .zoom_body {
                position: relative;

                .off25 {
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    z-index: 999;
                    @include fs(#fff, 12px, 600, $ff1);
                    text-transform: uppercase;
                    background: $cl3;
                    padding: 4px 10px;
                    border-radius: 4px;
                }
            }

            .carousel-control-prev {
                cursor: pointer;
                visibility: hidden;
                opacity: 0;

                i {
                    font-size: 20px;
                    margin-left: -52px;
                    transition: all linear .3s;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: transparent;
                    text-align: center;
                    line-height: 30px;

                    &:hover {
                        color: white;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 30px;
                        background: $hover;
                    }
                }
            }

            .carousel-control-next {
                cursor: pointer;
                visibility: hidden;
                opacity: 0;

                i {
                    font-size: 20px;
                    margin-right: -52px;
                    transition: all linear .3s;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: transparent;
                    text-align: center;
                    line-height: 30px;

                    &:hover {
                        color: white;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 30px;
                        background: $hover;
                    }
                }
            }

            &:hover {
                .carousel-control-prev {
                    visibility: visible;
                    opacity: 1;

                    i {
                        margin-left: 0;
                        color: $hover;
                        transition: all linear .3s;

                        &:hover {
                            color: white;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 30px;
                            background: $hover;
                        }
                    }
                }

                .carousel-control-next {
                    visibility: visible;
                    opacity: 1;

                    i {
                        margin-right: 0;
                        color: $hover;
                        transition: all linear .3s;

                        &:hover {
                            color: white;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 30px;
                            background: $hover;
                        }
                    }
                }
            }

            .zoom_text {
                height: 400px;
                overflow-y: scroll;
                position: relative;

                &::after {
                    @include after_tl(58px, 0, 100%, 1px, #f1f1f1);
                }

                a {
                    h3 {
                        @include fs($cl1, 22px, 600, $ff1);
                        text-transform: capitalize;
                        padding: 20px 0;



                    }
                }

                h2 {
                    @include fs($cl1, 22px, 800, $ff1);
                    padding-top: 12px;
                    padding-bottom: 4px;
                }

                P {
                    @include fs($cl2, 15px, 400, $ff1);
                    text-transform: capitalize;

                    span {
                        font-size: 16px;
                        font-weight: 700;
                        color: $hover;
                        padding-left: 5px;
                    }
                }

                .icon1 {
                    i {
                        font-size: 17px;
                        color: $cl3;
                        padding-top: 15px;
                    }
                }

                .icon {
                    i {
                        font-size: 17px;
                        color: #ccc;
                        padding-top: 15px;
                    }
                }

                span {
                    @include fs(#999, 12px, 400, $ff1);
                }

                .size {
                    position: relative;
                    padding-top: 20px;

                    &::after {
                        @include after_bl(-20px, 0, 100%, 1px, #f1f1f1);
                    }

                    p {
                        @include fs($cl1, 14px, 400, $ff1);
                        text-transform: capitalize;

                        b {
                            padding-left: 20px;
                            cursor: pointer;

                            span {
                                @include fs($cl2, 14px, 300, $ff1);
                                border: 1px solid #ddd;
                                padding: 3px 8px;
                                margin: 0 5px;
                                border-radius: 3px;
                                transition: all linear .3s;

                                &:hover {
                                    color: $hover;
                                    border-color: $hover;
                                }
                            }
                        }
                    }

                    .btn-body {
                        padding-top: 15px;

                        .hide {
                            @include fs($cl1, 13px, 400, $ff1);
                            background: #f1f1f1;
                            padding: 4px 10px;
                            cursor: pointer;
                        }

                        h2 {
                            @include fs(#000, 26px, 600, $ff1);
                        }
                    }
                }

                .handle-counter {
                    position: relative;
                    display: inline-block;
                    padding-top: 40px;

                    input {
                        width: 150px;
                        padding: 10px 10px;
                        box-shadow: none;
                        border: 0;
                        border: 1px solid #e0e0e0;
                        border-radius: 5px;
                        @include fs($cl2, 13px, 400, $ff1);
                    }

                    .increment_button {
                        position: absolute;
                        border: 0;
                        right: 10px;
                        top: 75%;
                        transform: translateY(-50%);

                        button {
                            padding: 0;
                            box-shadow: none;
                            border: 0;
                            width: 23px;
                            height: 23px;
                            margin: 0 3px;
                            line-height: 23px;
                            text-align: center;
                            font-size: 18px;
                            color: $cl2;
                            border-radius: 50%;
                            transition: all linear .3s;

                            &:hover {
                                color: #fff;
                                background: $hover;
                            }
                        }
                    }
                }

                .ca_icon {
                    display: inline-block;
                    margin-left: 10px;

                    a {
                        @include fs(#fff, 16px, 600, $ff1);
                        text-transform: uppercase;
                        padding: 10px 70px;
                        background: $hover;
                        border-radius: 5px;
                        transition: all linear .3s;

                        &:hover {
                            background: #3c78b4;
                        }

                        i {
                            padding-right: 8px;
                            font-size: 17px;
                        }

                    }
                }

                .zoom_social_icon {
                    padding-top: 30px;

                    ul {
                        .l_after {

                            .fb {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                border: 1px solid #f1f1f1;
                                text-align: center;
                                line-height: 35px;
                                margin-right: 7px;
                                transition: all linear .3s;

                                &:hover {
                                    border-color: #1b4f9b;
                                    background: #1b4f9b;

                                    i {
                                        color: #fff;
                                    }
                                }

                                i {
                                    font-size: 16px;
                                    color: $cl2;
                                    transition: all linear .3s;
                                }
                            }

                            .tw {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                border: 1px solid #f1f1f1;
                                text-align: center;
                                line-height: 35px;
                                margin-right: 7px;
                                transition: all linear .3s;

                                &:hover {
                                    border-color: #00adef;
                                    background: #00adef;

                                    i {
                                        color: #fff;
                                    }
                                }

                                i {
                                    font-size: 16px;
                                    color: $cl2;
                                    transition: all linear .3s;
                                }
                            }

                            .pin {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                border: 1px solid #f1f1f1;
                                text-align: center;
                                line-height: 35px;
                                margin-right: 7px;
                                transition: all linear .3s;

                                &:hover {
                                    border-color: #f96a02;
                                    background: #f96a02;

                                    i {
                                        color: #fff;
                                    }
                                }

                                i {
                                    font-size: 16px;
                                    color: $cl2;
                                    transition: all linear .3s;
                                }
                            }

                            .wp {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                border: 1px solid #f1f1f1;
                                text-align: center;
                                line-height: 35px;
                                margin-right: 7px;
                                transition: all linear .3s;

                                &:hover {
                                    border-color: #3c8a38;
                                    background: #3c8a38;

                                    i {
                                        color: #fff;
                                    }
                                }

                                i {
                                    font-size: 16px;
                                    color: $cl2;
                                    transition: all linear .3s;
                                }
                            }

                            .ig {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                border: 1px solid #f1f1f1;
                                text-align: center;
                                line-height: 35px;
                                margin-right: 7px;
                                transition: all linear .3s;

                                &:hover {
                                    border-color: #cd486b;
                                    background: #cd486b;

                                    i {
                                        color: #fff;
                                    }
                                }

                                i {
                                    font-size: 16px;
                                    color: $cl2;
                                    transition: all linear .3s;
                                }
                            }

                        }

                        .l2_bef {
                            padding-top: 5px;
                            padding-left: 30px;
                            position: relative;

                            &::after {
                                @include after_tl(5px, 10px, 1px, 70%, #ddd);
                            }

                            a {
                                margin-right: 13px;

                                i {
                                    font-size: 18px;
                                    color: $cl2;
                                    transition: all linear .3s;

                                    &:hover {
                                        color: $hover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .zoom_right_slider {
        border: 1px solid #f1f1f1;
        padding: 20px;
        border-radius: 5px;
        transition: all linear .3s;

        &:hover {
            border-color: $hover;
        }

        .side_seller_head {
            position: relative;
            padding-bottom: 30px;

            &::after {
                @include after_bl(15px, 0, 100%, 1px, #f1f1f1);
            }

            h4 {
                @include fs($cl1, 18px, 700, $ff1);
                text-transform: uppercase;
            }
        }

        .seller_slider {
            position: relative;

            .slider_item {
                .seller_img {
                    img {
                        height: 121px;
                    }
                }

                .seller_text {
                    padding-top: 20px;
                    margin-left: -17px;

                    .sl_txt {
                        display: block;

                        h4 {
                            @include fs($cl1, 14px, 500, $ff1);
                            text-transform: capitalize;
                            transition: all linear .3s;

                            &:hover {
                                color: $hover;
                            }
                        }
                    }

                    .star_ic {
                        padding-bottom: 5px;

                        i {
                            font-size: 13px;
                            color: $cl3;
                        }
                    }

                    .star_icwh {
                        padding-bottom: 5px;

                        i {
                            font-size: 13px;
                            color: #ccc;
                        }
                    }

                    b {
                        @include fs($cl1, 16px, 600, $ff1);
                        display: block;
                    }

                    ul {
                        position: relative;

                        li {
                            b {
                                @include fs($cl1, 16px, 600, $ff1);
                            }

                            del {
                                @include fs(#ccc, 16px, 600, $ff1);
                                position: absolute;
                                right: 3px;
                                top: 0;
                            }
                        }
                    }

                }
            }

            .prv_arr {
                position: absolute;
                right: 28px;
                top: -48px;
                color: $cl1;
                font-size: 13px;
                cursor: pointer;
                transition: all linear .3s;

                &:hover {
                    color: $hover;
                }
            }

            .nxt_arr {
                position: absolute;
                right: 12px;
                top: -48px;
                color: $cl1;
                font-size: 13px;
                cursor: pointer;
                transition: all linear .3s;

                &:hover {
                    color: $hover;
                }
            }
        }
    }
}

/*==============================================
             Daily Offer  Part End
================================================*/