@import '../../mixins/mixin';
@import '../../variables/variable';

/*==============================================
             Home & Kitchen Part Start
================================================*/
#home_kit {
    padding-bottom: 60px;

    .home_head {
        padding-bottom: 40px;
        position: relative;

        &::after {
            @include after_bl(22px, 0, 100%, 1px, #ddd);
        }

        h2 {
            @include fs($cl1, 20px, 700, $ff1);
            text-transform: capitalize;
        }

        a {
            @include fs($cl1, 14px, 600, $ff1);
            transition: all linear .3s;

            i {
                padding-left: 5px;
            }

            &:hover {
                color: $hover;
            }
        }
    }

    .home_img_left {
        position: relative;

        img {
            border-radius: 5px;
        }

        .overlay {
            position: absolute;
            left: 30px;
            top: 30px;

            h4 {
                @include fs($cl1, 18px, 400, $ff1);
                text-transform: capitalize;
                padding-bottom: 20px;
                position: relative;

                &::after {
                    @include after_bl(6px, 0, 15%, 3px, $cl1);
                }
            }

            h2 {
                @include fs($cl1, 30px, 700, $ff1);
                text-transform: uppercase;
                padding-bottom: 20px;

                span {
                    font-weight: 400;
                    text-transform: capitalize;
                    display: block;
                }
            }

            a {
                padding: 10px 18px;
                border: 2px solid $cl1;
                border-radius: 4px;
                line-height: 1;
                text-transform: uppercase;
                @include fs($cl1, 14px, 500, $ff1);
                transition: all linear .3s;

                &:hover {
                    color: #fff;
                    background: $cl1;
                }
            }
        }
    }

    .home_img_right {

        .home_img {
            position: relative;

            &:hover {
                a {
                    img.pop_1 {
                        display: block;
                    }

                    img.pop_2 {
                        display: none;
                    }
                }

                .overlay_icon {
                    visibility: visible;
                    opacity: 1;
                }
            }

            a {
                transition: all linear .3s;
                display: block;

                img.pop_1 {
                    transition: all linear .3s;
                    display: none;
                }
            }

            .overlay_icon {
                position: absolute;
                right: 10px;
                top: 10px;
                visibility: hidden;
                opacity: 0;
                transition: all linear .3s;

                ul {
                    li {
                        a {
                            width: 40px;
                            height: 40px;
                            background: #fff;
                            border-radius: 50%;
                            color: $cl2;
                            text-align: center;
                            line-height: 40px;
                            margin: 5px 0;
                            transition: all linear .3s;

                            &:hover {
                                background: $hover;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .discount_overlay {
                position: absolute;
                left: 18px;
                top: 15px;

                span {
                    @include fs(#fff, 12px, 500, $ff1);
                    text-transform: uppercase;
                    padding: 4px 10px;
                    line-height: 1;
                    border-radius: 4px;
                    background: $cl3;
                }
            }

        }

        .home_text {
            h3 {
                a {
                    @include fs($cl1, 13px, 600, $ff1);
                    text-transform: capitalize;
                    padding-bottom: 3px;
                    transition: all linear .3s;
                }

                &:hover {
                    a {
                        color: $hover;
                    }
                }
            }

            ul {
                padding-bottom: 4px;

                li {
                    a {
                        margin: 0 1px;
                        font-size: 12px;
                        color: $cl3;

                        .ashh {
                            color: #ccc;
                        }

                        span {
                            @include fs(#999, 12px, 400, $ff1);
                            margin-left: 4px;
                            transition: all linear .3s;

                            &:hover {
                                color: $hover;
                            }
                        }
                    }
                }
            }

            p {
                @include fs($cl1, 16px, 600, $ff1);

                del {
                    color: #aaaaaa;
                    padding-left: 10px;
                    font-weight: 400;
                }
            }

        }
    }
}



/*==============================================
             Home & Kitchen Part End
================================================*/